
    <h3 class="title">
     Title: <%= @interview.title %>
    </h3>
    <p class="title">
    
     End Time: <%= @interview.date %>
    </p>
    <p class="title">
     Start_time: <%= @interview.start_time%>
    </p>
    <p class="title">
    
     End Time: <%= @interview.end_time %>
    </p>
    
    <h4> Participants</h4>
    <% @participants.each do |participant| %>
      || <%= participant.email %>     || 
      || <%= link_to "Show Resume" ,participant.resume.url %>     || 
      </br>
    <% end %>
   </br>
   </br>

  <%= link_to "Cancel", interviews_path %>
  |
  <%= link_to "Edit Interview", edit_interview_path(@interview) %>
